<md-toolbar>
  <md-icon>dashboard</md-icon>
  <span>Lectures</span>
</md-toolbar>

<md-tab-group class="tab-content">
  <md-tab label="Backlog">
    <md-card class="lecture-card">Asp.Net Core</md-card>
    <md-card class="lecture-card">SPA via Angular 2</md-card>
    <md-card class="lecture-card">Ember</md-card>
    <md-card class="lecture-card">CQRS. Part 2</md-card>
  </md-tab>
  <md-tab label="Closed">
    <md-card class="lecture-card">CQRS. Part 1</md-card>
    <md-card class="lecture-card">World of .Net Core</md-card>
    <md-card class="lecture-card">Docker for Windows</md-card>
  </md-tab>
</md-tab-group>