<header>
  <md-toolbar color="primary">
    <img src="/assets/dotnet_logo.png" alt=".Net" height="100%" />
    <span>Meetup</span>
  </md-toolbar>
</header>

<div class="flex-container" fxLayout="row" fxLayout.xs="column">
  <div class="flex-item" fxFlex="20%" fxFlex.xs="40%">
    <nav>
      <md-nav-list>
        <a md-list-item href="#">
          <md-icon>event</md-icon> Events </a>
        <a md-list-item href="#">
          <md-icon>dashboard</md-icon> Lectures </a>
      </md-nav-list>
    </nav>
  </div>
  <div class="flex-item" fxFlex>
    <md-toolbar>
      <md-icon>event</md-icon>
      <span>Events</span>
    </md-toolbar>

    <md-card class="event-card">
      <md-card-header>
        <md-card-title>Lorem ipsum dolor</md-card-title>
        <md-card-subtitle>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et auctor diam, id molestie arcu. Integer a mi enim. Nulla
          facilisi. Vivamus fringilla tellus nec sapien scelerisque mattis. Integer gravida risus at eros sollicitudin lacinia.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button><md-icon>thumb_up</md-icon></button>
        <button md-button><md-icon>feedback</md-icon> Feedback</button>
      </md-card-actions>
    </md-card>

    <md-card class="event-card">
      <md-card-header>
        <md-card-title>Morbi egestas pretium</md-card-title>
        <md-card-subtitle>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          Morbi egestas pretium odio eu pretium. Proin commodo dui ac massa vestibulum, et auctor sapien maximus. Maecenas sagittis
          id leo non pharetra. In eu quam quis sapien volutpat fermentum. Etiam aliquet, erat ut luctus tempor, odio ipsum
          laoreet orci, volutpat tempor orci orci eget felis. Nulla facilisi. Phasellus vehicula odio leo, non consequat
          tortor aliquet a. Aenean quis euismod risus, a varius est. Mauris non aliquet lacus. Sed porta tellus nec sagittis
          malesuada.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button><md-icon>thumb_up</md-icon></button>
        <button md-button><md-icon>feedback</md-icon> Feedback</button>
      </md-card-actions>
    </md-card>

    <md-card class="event-card">
      <md-card-header>
        <md-card-title>Morbi egestas pretium</md-card-title>
        <md-card-subtitle>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          Morbi egestas pretium odio eu pretium. Proin commodo dui ac massa vestibulum, et auctor sapien maximus. Maecenas sagittis
          id leo non pharetra. In eu quam quis sapien volutpat fermentum. Etiam aliquet, erat ut luctus tempor, odio ipsum
          laoreet orci, volutpat tempor orci orci eget felis. Nulla facilisi. Phasellus vehicula odio leo, non consequat
          tortor aliquet a. Aenean quis euismod risus, a varius est. Mauris non aliquet lacus. Sed porta tellus nec sagittis
          malesuada.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button><md-icon>thumb_up</md-icon></button>
        <button md-button><md-icon>feedback</md-icon> Feedback</button>
      </md-card-actions>
    </md-card>

    <md-card class="event-card">
      <md-card-header>
        <md-card-title>Morbi egestas pretium</md-card-title>
        <md-card-subtitle>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          Morbi egestas pretium odio eu pretium. Proin commodo dui ac massa vestibulum, et auctor sapien maximus. Maecenas sagittis
          id leo non pharetra. In eu quam quis sapien volutpat fermentum. Etiam aliquet, erat ut luctus tempor, odio ipsum
          laoreet orci, volutpat tempor orci orci eget felis. Nulla facilisi. Phasellus vehicula odio leo, non consequat
          tortor aliquet a. Aenean quis euismod risus, a varius est. Mauris non aliquet lacus. Sed porta tellus nec sagittis
          malesuada.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button><md-icon>thumb_up</md-icon></button>
        <button md-button><md-icon>feedback</md-icon> Feedback</button>
      </md-card-actions>
    </md-card>

    <md-card class="event-card">
      <md-card-header>
        <md-card-title>Morbi egestas pretium</md-card-title>
        <md-card-subtitle>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          Morbi egestas pretium odio eu pretium. Proin commodo dui ac massa vestibulum, et auctor sapien maximus. Maecenas sagittis
          id leo non pharetra. Phasellus vehicula odio leo, non consequat tortor aliquet a. Aenean quis euismod risus, a
          varius est. Mauris non aliquet lacus. Sed porta tellus nec sagittis malesuada.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button><md-icon>thumb_up</md-icon></button>
        <button md-button><md-icon>feedback</md-icon> Feedback</button>
      </md-card-actions>
    </md-card>

    <md-card class="event-card">
      <md-card-header>
        <md-card-title>Morbi egestas pretium</md-card-title>
        <md-card-subtitle>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          Morbi egestas pretium odio eu pretium. Proin commodo dui ac massa vestibulum, et auctor sapien maximus. Maecenas sagittis
          id leo non pharetra. In eu quam quis sapien volutpat fermentum. Etiam aliquet, erat ut luctus tempor, odio ipsum
          laoreet orci, volutpat tempor orci orci eget felis.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button><md-icon>thumb_up</md-icon></button>
        <button md-button><md-icon>feedback</md-icon> Feedback</button>
      </md-card-actions>
    </md-card>

    <md-card class="event-card">
      <md-card-header>
        <md-card-title>Morbi egestas pretium</md-card-title>
        <md-card-subtitle>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
          <md-icon color="accent">star_rate</md-icon>
        </md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <p>
          Morbi egestas pretium odio eu pretium. Proin commodo dui ac massa vestibulum, et auctor sapien maximus. Maecenas sagittis
          id leo non pharetra. In eu quam quis sapien volutpat fermentum. Etiam aliquet, erat ut luctus tempor, odio ipsum
          laoreet orci, volutpat tempor orci orci eget felis. Nulla facilisi. Phasellus vehicula odio leo, non consequat
          tortor aliquet a.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button><md-icon>thumb_up</md-icon></button>
        <button md-button><md-icon>feedback</md-icon> Feedback</button>
      </md-card-actions>
    </md-card>

  </div>

</div>