<md-toolbar>
  <md-icon>event</md-icon>
  <span>Events</span>
</md-toolbar>

<md-card class="event-card">
  <md-card-header>
    <md-card-title>Lorem ipsum dolor</md-card-title>
    <md-card-subtitle>
      <md-icon color="accent">star_rate</md-icon>
      <md-icon color="accent">star_rate</md-icon>
      <md-icon color="accent">star_rate</md-icon>
      <md-icon color="accent">star_rate</md-icon>
      <md-icon color="accent">star_rate</md-icon>
    </md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img1.png" class="event-card-photo">
  <md-card-content class="event-card-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et auctor diam, id molestie arcu. Integer a mi enim. Nulla
      facilisi. Vivamus fringilla tellus nec sapien scelerisque mattis. Integer gravida risus at eros sollicitudin lacinia.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button><md-icon>thumb_up</md-icon></button>
    <button md-button><md-icon>feedback</md-icon> Feedback</button>
  </md-card-actions>
</md-card>

<md-card class="event-card">
  <md-card-header>
    <md-card-title>Morbi egestas pretium</md-card-title>
    <md-card-subtitle>
      <md-icon color="accent">star_rate</md-icon>
      <md-icon color="accent">star_rate</md-icon>
      <md-icon color="accent">star_rate</md-icon>
      <md-icon color="accent">star_rate</md-icon>
      <md-icon color="accent">star_rate</md-icon>
    </md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img2.png" class="event-card-photo">
  <md-card-content class="event-card-content">
    <p>
      Morbi egestas pretium odio eu pretium. Proin commodo dui ac massa vestibulum, et auctor sapien maximus. Maecenas sagittis
      id leo non pharetra. In eu quam quis sapien volutpat fermentum. Etiam aliquet, erat ut luctus tempor, odio ipsum laoreet
      orci, volutpat tempor orci orci eget felis. Nulla facilisi. Phasellus vehicula odio leo, non consequat tortor aliquet
      a. Aenean quis euismod risus, a varius est. Mauris non aliquet lacus. Sed porta tellus nec sagittis malesuada.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button><md-icon>thumb_up</md-icon></button>
    <button md-button><md-icon>feedback</md-icon> Feedback</button>
  </md-card-actions>
</md-card>